{{#if doQuery}}
  <TestQuery as |res|>
    {{#each res.data.hello as |item|}}
      <div>
        {{item.id}}:
        {{item.message}}
      </div>
    {{/each}}
    {{#if res.loading}}
      Loading...
    {{else}}
      <button onclick={{action res.fetchMore}}>More 1</button>
      <button onclick={{action res.refetch}}>Refetch</button>
    {{/if}}
    {{#if res.data}}
      <Query
        @query={{this.testQuery2.query}}
        @meta={{this.testQuery2.meta}}
        @fetchPolicy={{this.testQuery2.fetchPolicy}}
        @updateQuery={{this.testQuery2.updateQuery}}
        @variables={{hash id=res.data.hello.lastObject.id}}
        as |res2|
      >
        {{#each res2.data.goodbye as |item|}}
          <div>
            {{item.id}}:
            {{item.message}}
          </div>
        {{/each}}
        {{#if res2.loading}}
          Loading2...
        {{else}}
          <button onclick={{action res2.fetchMore}}>More 2</button>
        {{/if}}
      </Query>
    {{/if}}
  </TestQuery>
{{/if}}
<button onclick={{action "toggle"}}>Toggle</button>
<TestMutation as |res3|>
  <button onclick={{action res3.mutate}}>Mutate</button>
  <div>
    {{#each res3.data.doIt as |item|}}
      <div>
        {{item.id}}:
        {{item.message}}
      </div>
    {{/each}}
    {{#if res3.loading}}
      Mutation Loading...
    {{/if}}
  </div>
</TestMutation>